.App {
  height: 100vh;
  width: 100vh;
}
body{
  margin: 0;
  padding: 0;
}


.contentSection{
  min-height: 1000px;
}
.sidebarSection{
/*max-height: 100vh ;*/
top: 01;
bottom: 0;
left: 0;
/*z-index: 1000;*/
padding: 20px;
/*overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #f5f5f5;

}
.sidebarItem{
  display: block;
}
.sidebarRight{
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  padding: 0 15px;
}
.footerSection{
 padding-top: 3rem;
 min-height: 300px;
}
.badge{
  background-color: rgb(211, 235, 235);
  cursor: pointer;
  margin: 5px;
  height:auto;
}
.CARD_IMGe{
  width: 300px;
  height: 300px;
}
.Cattle_Img_Container{
  width: 200px;
  height: 200px;
}
.Image{
  min-width: 500px;
  max-height: 50vh;
}

.card-Img{
  width: 300px;
}


.EcommentCard{
width: 100%;
border: 1px solid gray;
border-radius: 10px;
}

.public-DraftStyleDefault-block > div {
	margin: 0px !important;
}


.deleteIcon:hover {
background-color: gray !important;
}


.btnStyling {
}

h1,h2,h3,h4,h5,h6{
  text-transform: none !important;
}
.badge {
  padding: 10px !important;
  border-radius: 10px !important;
}

.btn {
  border-radius: 25px !important;
}

.form-control {
  border-radius:20px !important;
}



